.container {
    text-align: center;
    
}
.dark {
    background-color: rgb(20, 19, 19);
    color: rgb(233, 240, 243);
    height: 110vh;
    transition: 500ms ease-in-out;
}
.light {
    background-color: rgb(233, 240, 243);
    color: black;
    height: 110vh;
    width: auto;
    transition: 500ms ease-in-out;
}

.aboutmelight {
    margin-top: 0cm;
    margin-bottom: 6px;
    font-family: monospace;
    font-size: 1vw;
    color: rgb(29, 28, 28);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 500ms ease-in-out;
    @media only screen and (max-width: 1000px) {
        font-size: 2vw;
    }
    @media only screen and (max-width: 450px) {
        font-size: 5vw;
    }
}

.buttonlight {
    font-size: 1.5vw;
    text-decoration: none;
    display: block;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 200px;
    border-radius: 0.5rem;
    border-width: 2px;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 500ms ease-in-out;
    @media only screen and (max-width: 1000px) {
        font-size: 3vw;
    }
    @media only screen and (max-width: 500px) {
        font-size: 6vw;
    }
}
.buttondark:hover {
    color: black;
    background-color: rgb(233, 240, 243);
}
.aboutmedark {
    margin-top: 0cm;
    margin-bottom: 6px;
    font-family: monospace;
    font-size: 1vw;
    color: rgb(233, 240, 243);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 500ms ease-in-out;
    @media only screen and (max-width: 1000px) {
        font-size: 2vw;
    }
    @media only screen and (max-width: 450px) {
        font-size: 5vw;
    }
}
.buttondark {
    font-size: 1.5vw;
    text-decoration: none;
    display: block;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 200px;
    border-radius: 0.5rem;
    border-width: 2px;
    color: rgb(233, 240, 243);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 500ms ease-in-out;
    @media only screen and (max-width: 450px) {
        font-size: 2vw;
    }
    @media only screen and (max-width: 500px) {
        font-size: 6vw;
    }
}
.buttonlight:hover {
    color: rgb(233, 240, 243);
    background-color: black;
}
.maps {
    width: 420px;
    margin: auto;
    @media only screen and (max-width: 500px) {
        width: 412px;
        margin: auto;
    }
}
