.games{
    color: white;
    font-family: Gill Sans;
    font-size: 0.6cm;
    background-color: darkmagenta;
    text-decoration: none;
    margin-left: 818px;
    margin-right: 878px;
    margin-top: 6px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.otsikko {
    margin-top: 17px;
    margin-bottom: 5px;
    margin-left: 640px;
    font-family: Gill Sans;
    font-size: 3cm;
    color: darkmagenta;
    display: flex;
    flex-direction: column;
    //text-align: center;
}