
.otsikko {
    margin-top: 0cm;
    margin-bottom: 5px;
    font-family: Gill Sans;
    font-size: 6vw;
    color: rgb(29, 28, 28);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 500px){
        font-size: 12vw;
    }
}
.dark{
    background-color: rgb(20, 19, 19);
    color: rgb(233, 240, 243);
    height: 100vh;
}
.light{
    background-color:rgb(233, 240, 243);
    color: black;
    height: 100vh;
}

.stiilidark{
    font-size: 1.5vw;
    text-decoration: none;
    display: block;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 200px;
    border-radius: 0.5rem;
    border-width: 2px;
    color: rgb(233, 240, 243);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media only screen and (max-width: 500px){
        font-size: 6vw;
    }
}
.stiilidark:hover {
    color: black;
    background-color: rgb(233, 240, 243);
}
.stiililight{
    font-size: 1.5vw;
    text-decoration: none;
    display: block;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 200px;
    border-radius: 0.5rem;
    border-width: 2px;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media only screen and (max-width: 500px){
        font-size: 6vw;
    }
}
.stiililight:hover {
    color: white;
    background-color: black
}