.container {
  text-align: center;
}
.dark {
  background-color: rgb(20, 19, 19);
  color: rgb(0, 0, 0);
  height: 81vh;
  transition: 500ms ease-in-out;
  padding-top: 8px;
  @media only screen and (max-width: 1000px) {
    height: 125vh;
  }
  @media only screen and (max-width: 450px) {
    height: 185vh;
  }
}
.light {
  background-color: rgb(233, 240, 243);
  color: black;
  height: 81vh;
  transition: 500ms ease-in-out;
  padding-top: 8px;
  @media only screen and (max-width: 1000px) {
    height: 125vh;
  }
  @media only screen and (max-width: 450px) {
    height: 185vh;
  }
}

.anchorlight {
  font-size: 1.5vw;
  text-decoration: none;
  display: block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 200px;
  border-radius: 0.5rem;
  border-width: 2px;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: 500ms ease-in-out;
  @media only screen and (max-width: 1000px) {
    font-size: 4vw;
  }
  @media only screen and (max-width: 500px) {
    display: none;
  }
}
.anchorlight:hover {
  color: white;
  transition: 500ms ease-in-out;
  background-color: black;
}

.anchordark {
  font-size: 1.5vw;
  text-decoration: none;
  display: block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 200px;
  border-radius: 0.5rem;
  border-width: 2px;
  color: rgb(233, 240, 243);
  margin-left: auto;
  margin-right: auto;
  transition: 500ms ease-in-out;
  text-align: center;
  @media only screen and (max-width: 1000px) {
    font-size: 4vw;
  }
  @media only screen and (max-width: 500px) {
    display: none;
  }
}
.anchordark:hover {
  color: rgb(0, 0, 0);
  transition: 500ms ease-in-out;
  background-color: rgb(233, 240, 243);
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Righteous&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  @media only screen and (min-width: 1000px) {
    overflow: hidden;
  }
}
.mod1light {
  font-family: "Righteous", cursive;
  text-align: center;
  font-size: 2vw;
  color: rgb(57, 156, 98);
  transition: 500ms ease-in-out;
  @media only screen and (max-width: 1000px) {
    font-size: 4vw;
  }
  @media only screen and (max-width: 500px) {
    font-size: 9vw;
  }
}
.mod1dark {
  font-family: "Righteous", cursive;
  text-align: center;
  font-size: 2vw;
  color: rgb(57, 156, 98);
  transition: 500ms ease-in-out;
  @media only screen and (max-width: 1000px) {
    font-size: 4vw;
  }
  @media only screen and (max-width: 500px) {
    font-size: 9vw;
  }
}
.mod2light {
  border-top: 6px solid rgb(57, 156, 98);
  border-radius: 5px;
  margin: auto;
  width: 50%;
  margin-top: 5px;
  transition: 500ms ease-in-out;
}
.mod2dark {
  border-top: 6px solid rgb(57, 156, 98);
  border-radius: 5px;
  margin: auto;
  width: 50%;
  margin-top: 5px;
  transition: 500ms ease-in-out;
}
.mod3light {
  color: rgb(29, 28, 28);
  font-family: "Righteous", cursive;
  text-align: center;
  font-size: 25px;
  margin: auto;
  width: 50%;
  padding: 10px;
  transition: 500ms ease-in-out;
  @media only screen and (max-width: 500px) {
    font-size: 3.7vw;
  }
}
.mod3dark {
  color: rgb(233, 240, 243);
  font-family: "Righteous", cursive;
  text-align: center;
  font-size: 25px;
  margin: auto;
  width: 50%;
  padding: 10px;
  transition: 500ms ease-in-out;
  @media only screen and (max-width: 500px) {
    font-size: 3.7vw;
  }
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
