.otsikko {
    margin-top: 0cm;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
    color: rgb(29, 28, 28);
    display: flex;
    flex-direction: column;
    text-align: center;

    @media only screen and (max-width: 1700px){
        font-size: 9vw;
    }
    @media only screen and (max-width: 850px){
        font-size: 12vw;
    }
    @media only screen and (max-width: 450px){
        font-size: 16vw;
    }
    @media only screen and (max-width: 395px){
        font-size: 16vw;
    }
}

.anchor {
    color: white;
    font-family: monospace;
    font-size: 1.1vw;
    background-color: rgb(29, 28, 28);
    text-decoration: none;
    margin-left: 818px;
    margin-right: 818px;
    padding-left: 90px;
    padding-right:90px;
    
        @media only screen and (max-width: 1700px){
            margin-left: 400px;
            margin-right: 400px;
            margin-top: 3px;
            font-size: 2vw;
        }
        @media only screen and (max-width: 920px){
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 3px;
            font-size: 2vw;
        }
        @media only screen and (max-width: 450px){
            margin-left: 165px;
            margin-right: 165px;
            margin-top: 3px;
            font-size: 3.6vw;
        }
        @media only screen and (max-width: 399px){
            margin-left: 165px;
            margin-right: 165px;
            margin-top: 3px;
            font-size: 3vw;
        }
        @media only screen and (max-width: 285px){
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 3px;
            font-size: 3.1vw;
        }
    }
    .aboutme {
        margin-top: 0cm;
        margin-bottom: 6px;
        font-family: monospace;
        font-size: 1vw;
        color: rgb(29, 28, 28);
        display: flex;
        flex-direction: column;
        text-align: center;
    
        
        @media only screen and (max-width: 1700px){
            margin-left: 400px;
            margin-right: 400px;
            margin-top: 3px;
            font-size: 2vw;
        }
        @media only screen and (max-width: 920px){
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 3px;
            font-size: 2vw;
        }
        @media only screen and (max-width: 450px){
            margin-left: 165px;
            margin-right: 165px;
            margin-top: 3px;
            font-size: 3.6vw;
        }
        @media only screen and (max-width: 399px){
            margin-left: 165px;
            margin-right: 165px;
            margin-top: 3px;
            font-size: 3vw;
        }
        @media only screen and (max-width: 285px){
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 3px;
            font-size: 3.1vw;
        }
    }

        