.container {
    display: flex;
    flex-direction: column;
}

.button {
    color: white;
    font-family: Gill Sans;
    font-size: 0.6cm;
    background-color: darkmagenta;
    text-decoration: none;
    margin-left: 818px;
    margin-right: 878px;
    margin-top: 6px;
    text-align: center;

}

.snakee {
    color: white;
    font-family: Gill Sans;
    font-size: 0.5cm;
    background-color: darkmagenta;
    text-decoration: none;
    margin-left: 818px;
    margin-right: 878px;
    margin-top: 6px;
    text-align: center;
}
