body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.otsikko {
    margin-top: 0cm;
    margin-bottom: 5px;
    font-family: Gill Sans;
    font-size: 6vw;
    color: darkmagenta;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media only screen and (max-width: 1700px){
        font-size: 9vw;
    }
    @media only screen and (max-width: 850px){
        font-size: 12vw;
    }
    @media only screen and (max-width: 450px){
        font-size: 16vw;
    }
    @media only screen and (max-width: 395px){
        font-size: 16vw;
    }
}


.button {
    color: white;
    font-family: Gill Sans;
    font-size: 1.1vw;
    background-color: darkmagenta;
    text-decoration: none;
    margin-left: 818px;
    margin-right: 878px;
    margin-top: 6px;
    padding-left: 70px;
    padding-right: 20px;



}

.otsikkoo {
    margin-top: 0cm;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: Gill Sans;
    font-size: 0.4cm;
    color: darkmagenta;
    display: flex;
    flex-direction: column;
}
