
.dark{
    background-color: rgb(20, 19, 19);
    color: rgb(233, 240, 243);
    height: 75.7vh;
    transition: 500ms ease-in-out;
    @media only screen and (max-width: 450px){
        height: 100vh;
    }
    }
.light{
    background-color:rgb(233, 240, 243);
    color: black;
    height: 75.7vh;
    transition: 500ms ease-in-out;
    @media only screen and (max-width: 450px){
        height: 100vh;
    }
    }

.dark img,
.light img{
    margin-top: 0px;
    max-width: 550px;
    max-height: 550px;
    margin-left: 20px;
    padding-left: 46px;
    padding-bottom: 5px;
    padding-top: 80px;
    &:hover{
        transform: scale(1.2);
        transition: .5s ease-in;
    }
    transition: all .3s ease-out;
    @media only screen and (max-width: 450px){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        max-width: 100%;
        padding-left: 0px;
        margin-left: 0px;
        max-height: 100%;
        padding: 0px;
    }
}
.ddark,
.llight{
    text-decoration: none;
    color: rgb(80, 170, 223);
    font-size: 2.5vh;
    display: inline-block;
    padding-left: 15px; 
    @media only screen and (max-width: 450px){
        font-size: 2.2vh;
    }
}
.darkname{
    color: rgb(233, 240, 243);
    transition: 500ms ease-in-out;
    padding-top: 15px;
    padding-left: 150px;
    font-size: 60px;
    @media only screen and (max-width: 450px){
        display: none;
    }
}
.lightname{
    color: rgb(29, 28, 28);
    transition: 500ms ease-in-out;
    padding-top: 15px;
    padding-left: 150px;
    font-size: 60px;
    @media only screen and (max-width: 450px){
        display: none;
    }
}
.darknamee {
    color: rgb(233, 240, 243);
    transition: 500ms ease-in-out;
    padding-left: 350px;
    font-size: 30px;
    @media only screen and (max-width: 450px){
        display: none;
    }
}
.lightnamee{
    color: rgb(29, 28, 28);
    transition: 500ms ease-in-out;
    padding-left: 350px;
    font-size: 30px;
    @media only screen and (max-width: 450px){
        display: none;
    }
}