.achii {
    color: white;
    font-family: Gill Sans;
    font-size: 0.6cm;
    margin-top: 0cm;
    margin-left: 818.3px;
    padding-left: 42px;
    padding-right: 43px;
    background-color: darkmagenta;
    flex-direction: column;
}
