.git {
    color: white;
    font-family: Gill Sans;
    font-size: 0.6cm;
    margin-top: 0cm;
    margin-left: 818.3px;
    padding-left: 90px;
    padding-right: 86px;
    background-color: darkmagenta;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0px;
    
}