.dark {
    background-color: rgb(20, 19, 19);
    color: rgb(233, 240, 243);
    height: 100%;
    transition: 500ms ease-in-out;
}
.light {
    background-color: rgb(233, 240, 243);
    color: black;
    height: 100%;
    transition: 500ms ease-in-out;
}
