body {
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.otsikko {
    margin-top: 0cm;
    margin-bottom: 5px;
    margin-left: 640px;
    font-family: Gill Sans;
    font-size: 3cm;
    color: darkmagenta;
    flex-direction: column;
}

.btncolor {
    color: white;
    font-family: Gill Sans;
    margin-left: 818px;
    margin-top: 0px;
    font-size: 0.8cm;
    padding: 0;
    background-color: darkmagenta;
    flex-direction: column;
}

.achi {
    color: white;
    font-family: Gill Sans;
    font-size: 0.6cm;
    margin-right: 900px;
    margin-top: 0cm;
    background-color: darkmagenta;
    float: right;
    flex-direction: column;
    margin-top: 200px;
}

.games {
    color: white;
    font-family: Gill Sans;
    font-size: 0.6cm;
    background-color: darkmagenta;
    text-decoration: none;
    margin-left: 818px;
    margin-right: 878px;
    margin-top: 6px;
    padding-left: 70px;
    padding-right: 20px;

}

.home {
    color: white;
    font-family: Gill Sans;
    font-size: 0.6cm;
    background-color: darkmagenta;
    text-decoration: none;
    margin-left: 818px;
    margin-right: 878px;
    margin-top: 6px;
    padding-left: 70px;
    padding-right: 20px;

}

.git {
    color: white;
    font-family: Gill Sans;
    font-size: 0.6cm;
    background-color: darkmagenta;
    text-decoration: none;
    margin-left: 818px;
    margin-right: 878px;
    margin-top: 6px;
    padding-left: 70px;
    padding-right: 20px;
}

