.container {
    text-align: center;
}

.buttondark{
    font-size: 1.5vw;
    text-decoration: none;
    display: inline-block;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 200px;
    text-align: center;
    border-radius: 0.5rem;
    border-width: 2px;
    color: rgb(233, 240, 243);
    transition: 500ms ease-in-out;
    @media only screen and (max-width: 450px){
    font-size: 6vw;
}
}
.buttonlight:hover {
    color: white;
    background-color: black
}

.buttonlight{
    font-size: 1.5vw;
    text-decoration: none;
    display: inline-block;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 200px;
    text-align: center;
    border-radius: 0.5rem;
    border-width: 2px;
    transition: 500ms ease-in-out;
    color: rgb(20, 19, 19);
    @media only screen and (max-width: 450px){
    font-size: 6vw;
}
}
.buttondark:hover {
    color: rgb(20, 19, 19);
    background-color: rgb(233, 240, 243);
}