.container {
    display: flex;
    flex-direction: column;
}

.button {
    color: white;
    font-family: Gill Sans;
    font-size: 1.1vw;
    background-color: darkmagenta;
    text-decoration: none;
    margin-left: 818px;
    margin-right: 878px;
    margin-top: 6px;
    text-align: center;
    min-width: 60px;

    @media only screen and (max-width: 1700px){
        margin-left: 400px;
        margin-right: 400px;
        margin-top: 3px;
        font-size: 2vw;
    }
    @media only screen and (max-width: 920px){
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 3px;
        font-size: 2vw;
    }
    @media only screen and (max-width: 450px){
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 3px;
        font-size: 3.6vw;
    }
    @media only screen and (max-width: 399px){
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 3px;
        font-size: 3vw;
    }
    @media only screen and (max-width: 285px){
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 3px;
        font-size: 3.1vw;
    }
}

.snakee {
    color: white;
    font-family: Gill Sans;
    font-size: 1.1vw;
    background-color: darkmagenta;
    text-decoration: none;
    margin-left: 818px;
    margin-right: 878px;
    margin-top: 6px;
    text-align: center;
    min-width: 60px;
}
